/* background gradient, ash at https://uigradients.com/#Ash */
body {
  background-image: linear-gradient(to right, #606c88, #3f4c6b);
}
/* text color */
span {
  color: #fff;
}



.container {
  text-align: center;
  border:1px solid red;
}
/* buttons */
.btn-toolbar {
  border:1px solid red;
}
.btn-primary {
    color: #fff;
    background-color: #0495c9;
    border-color: #357ebd;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #00b3db;
    border-color: #285e8e;
}
.card:after {
  background-color: #3f4c6b;
}

/* hero image and overlay */
.hero {
  width: 100vw;
  height: 50vh;
}
.hero img {
  object-fit: cover;
  object-position: top;
  height: 100%;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 100%;
  opacity: 0.4;
}

/* home page */
.primary-color {
  background-color: #FFFFFF;
}
.bg_secondary-color {
  background-color: #293241;
}
.secondary-color {
  color: #293241;
}
